
2. Credit score analysis/.ipynb_checkpoints/loan-checkpoint.ipynb
3. Real estate market analysis\.ipynb_checkpoints"
3. Real estate market analysis/.ipynb_checkpoints/real_estate_market_analysis-checkpoint.ipynb
6. Catering market analysis/.ipynb_checkpoints/catering_market_analysis-checkpoint.ipynb
6. Catering market analysis/presentation_catering.pdfZone.Identifier
*.Identifier
4. Film market analysis/.ipynb_checkpoints/film_market_analysis-checkpoint.ipynb
9. Procrastinate Pro/.ipynb_checkpoints/procrastinate_pro-checkpoint.ipynb
11. Telecom/.ipynb_checkpoints/telecom-checkpoint.ipynb
12. AB-testing/.ipynb_checkpoints/ab_test-checkpoint.ipynb
