
2. Credit score analysis/.ipynb_checkpoints/loan-checkpoint.ipynb
3. Real estate market analysis\.ipynb_checkpoints"
3. Real estate market analysis/.ipynb_checkpoints/real_estate_market_analysis-checkpoint.ipynb
